@model Automotriz.Models.CLIENTE

@{
    ViewBag.Title = "ELIMINACION DE CLIENTE";
}

<h2>Delete</h2>

<h3>ESTA SEGURO DE ELIMINAR ESTE CLIENTE?</h3>
<div>
    <h4>EL CLIENTE ES:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOCACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCACION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="CONFIRMAR" class="btn btn-default" /> |
            @Html.ActionLink("REGRESAR", "Index")
        </div>
    }
</div>
