@model Automotriz.Models.TALLER

@{
    ViewBag.Title = "DETALLES DEL TALLER";
}



<div>
    <h4>DETALLE DEL TALLER: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_TALLER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_TALLER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIUDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIUDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOCACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCACION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR", "Edit", new { id = Model.ID_TALLER }) |
    @Html.ActionLink("REGRESAR", "Index")
</p>
