@model Automotriz.Models.TALLER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TALLER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_TALLER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_TALLER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIUDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIUDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOCACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCACION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TALLER }) |
    @Html.ActionLink("Back to List", "Index")
</p>
