@model Automotriz.Models.EMPLEADO

@{
    ViewBag.Title = "DETALLADO DE EMPLEADO";
}


    <div>
        <h4>Empleado: </h4>
        <img src="~/Scripts/logo4.jpeg" width="150"
             height="100" ImageAlign="TextTop">
        <br />
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.APELLIDO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.APELLIDO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ROL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ROL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HORARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HORARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TELEFONO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TELEFONO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DIRECCION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIRECCION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CIUDAD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CIUDAD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DPI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DPI)
            </dd>

        </dl>
    </div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_EMPLEADO }) |
    @Html.ActionLink("REGRESAR", "Index")
</p>
